@charset "utf-8";
/* CSS Document */
@font-face{
                font-family:'Microsoft Yahei';
                src: url('../font/Yahei1.TTF'),url('../font/Yahei2.TTF'),url('../font/Yahei3.TTF');
} 
.container{
	font-family:'Microsoft Yahei','微软雅黑',Tahoma;
	position:relative;
	width:100%;
	margin-right:auto;
	margin-left:auto;
	padding-right:15px;
	padding-left:15px;
}
.row{
	display:-ms-flexbox;
	display:flex;
	-ms-flex-wrap:wrap;
	flex-wrap:wrap;
	padding:0px;
	margin:0px -15px;
}
.col{
	margin:0px;
	padding-top:0px 15px;
	-ms-flex-preferred-size:0;
	flex-basis:0;
	-ms-flex-positive:1;
	flex-grow:1;
	height:100%;
	width:100%;
	max-width:100%;
}